force-app/main/default/flows/Web_To_Lead_Email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Creates a new task to contact a newly created lead.</description>
        <name>Create_Task_For_Owner</name>
        <label>Create Task For Owner</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Subject</name>
            <value>
                <elementReference>ContactTaskSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>Today_Plus_Three_Days</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhoId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>$Record.Owner:Group.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>NewTask</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Sends a formatted personalized email with thank you note for contacting.</description>
        <name>Mail_With_Thank_You</name>
        <label>Mail With Thank You</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Create_Task_For_Owner</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>EmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>Get_Email_Template.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <description>Flow to send an email for registrating person with thank you  note.</description>
    <environments>Default</environments>
    <formulas>
        <description>Add 3 days to today</description>
        <name>Today_Plus_Three_Days</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 3</expression>
    </formulas>
    <interviewLabel>WebToLead {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Web To Lead Email</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Email_Template</name>
        <label>Get Email Template</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Mail_With_Thank_You</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Thank_You_Email_For_New_Web_Lead_1724161435434</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Email_Template</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LeadSource</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ContactTaskSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Contact {!$Record.FirstName} {!$Record.LastName} from {!$Record.Company}.</text>
    </textTemplates>
    <textTemplates>
        <description>Content of the thank you email</description>
        <name>EmailContent</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;&lt;em&gt;Dear {!$Record.FirstName} &lt;/em&gt;&lt;/strong&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;&lt;em&gt;{!$Record.LastName}&lt;/em&gt;&lt;/strong&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;&lt;em&gt;!&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Thank you&lt;/strong&gt; for reaching out to us.&lt;/p&gt;&lt;p&gt;We have received your inquiry and &lt;strong&gt;will contact you as soon as possible&lt;/strong&gt; to gather more details and help you reach your goals.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;em&gt;Meanwhile we invite you to visit &lt;/em&gt;&lt;a href=&quot;https://britenet95-dev-ed.develop.my.salesforce-sites.com/&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;&lt;em&gt;our page&lt;/em&gt;&lt;/a&gt;&lt;em&gt; for more information about us.&lt;/em&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!EmailFooter}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>Footer for email</description>
        <name>EmailFooter</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;table width=&quot;100%&quot; border=&quot;0&quot; cellspacing=&quot;0&quot; cellpadding=&quot;0&quot; style=&quot;background-color: #f8f8f8; padding: 20px; text-align: center; font-family: Arial, sans-serif; color: #333;&quot;&gt;
&lt;tr style=&quot;white-space: pre;&quot;&gt;        &lt;td style=&quot;padding: 10px 0px; white-space: pre;&quot;&gt;&lt;br&gt;            &lt;p style=&quot;margin: 5px 0; font-size: 14px;&quot;&gt;&lt;img style=&quot;display: block; margin: 0 auto;&quot; width=&quot;120&quot; alt=&quot;GoodBook Logo&quot; src=&quot;https://britenet95-dev-ed.develop.file.force.com/sfc/servlet.shepherd/version/download/068WU000003SWZV?asPdf=false&amp;amp;operationContext=CHATTER&quot;&gt;GoodBook&lt;br&gt;Świętojańska 12A, 15-708 Białystok&lt;br&gt;
&lt;a style=&quot;color: #333; text-decoration: none;&quot; href=&quot;tel:+48123123123&quot;&gt;+48 123 123 123&lt;/a&gt;&lt;br&gt;
&lt;a style=&quot;color: #333; text-decoration: none;&quot; href=&quot;mailto:dominik.babinski@britenet.eu&quot;&gt;dominik.babinski@britenet.eu&lt;/a&gt;&lt;/p&gt;&lt;br&gt;        &lt;/td&gt;    &lt;/tr&gt;    
&lt;td style=&quot;padding: 10px 0px; font-size: 12px; color: rgb(153, 153, 153); white-space: pre;&quot;&gt;&lt;br&gt;            &lt;p style=&quot;margin: 5px 0;&quot;&gt;© 2024 GoodBook. All rights reserved.&lt;/p&gt;&lt;br&gt;            &lt;p style=&quot;margin: 5px 0;&quot;&gt;&lt;a style=&quot;color: #999; text-decoration: none;&quot; href=&quot;https://www.yourcompany.com/unsubscribe&quot;&gt;Unsubscribe&lt;/a&gt; | &lt;a style=&quot;color: #999; text-decoration: none;&quot; href=&quot;https://www.yourcompany.com/privacy-policy&quot;&gt;Privacy Policy&lt;/a&gt;&lt;/p&gt;&lt;br&gt;        &lt;/td&gt;    &lt;/tr&gt;&lt;/tbody&gt;&lt;/table&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>EmailSubject</description>
        <name>EmailSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Thank you for contacting us {!$Record.FirstName}! Here&apos;s some further information.</text>
    </textTemplates>
</Flow>
